section{
  img{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .month-events{
    display: flex;
    flex-direction: row;
    .day-info{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-top: 15px;
      .day-name{
        &.currentDay{
          color: cornflowerblue;
        }
      }
      .day-number{
        padding: 2px;
        font-size: x-large;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.currentDay{
          background: cornflowerblue;
        }
      }
    }
    .events{
      width: 100%;
    }
  }
}

.reload{
  position: fixed;
  bottom: 30px;
  margin: 10px;
  right: -100px;
  transition: right 0.2s ease-in-out;
  &.show{
    right: 10px;
  }
  ion-button{
    width: 60px;
    height: 60px;
    --border-radius: 15px;
    ion-icon{
      font-size: 30px;
    }
  }
}


//ion-card{
//  background-color: #ffffff;
//  ion-card-header{
//    ion-card-title{
//      color: black;
//    }
//    ion-card-subtitle{
//      color: black;
//    }
//  }
//  ion-card-content{
//    color: black;
//  }
//
//  &.dark{
//    background-color: #000000;
//    ion-card-header{
//      ion-card-title{
//        color: white;
//      }
//      ion-card-subtitle{
//        color: white;
//      }
//    }
//    ion-card-content{
//      color: white;
//    }
//  }
//}
