<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Paramètres</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-toggle [checked]="autoTheme" (ionChange)="autoTheme = !autoTheme; themeIsAsync()" justify="space-between">Theme Automatique</ion-toggle>
      </ion-item>
      <ion-item *ngIf="!autoTheme">
        <ion-toggle [checked]="isDarkTheme" (ionChange)="changeTheme($event)" checked="false" justify="space-between">
          <span *ngIf="isDarkTheme" >Theme Sombre</span>
          <span *ngIf="!isDarkTheme" >Theme Clair</span>
        </ion-toggle>
      </ion-item>
      <!--      <ion-item>-->
      <!--        <ion-toggle [(ngModel)]="themeToggle" (ionChange)="changeTheme($event)" justify="space-between">Theme Sombre</ion-toggle>-->
      <!--      </ion-item>-->
      <ion-item>
        <ion-toggle [checked]="true" (ionChange)="showRefreshButton = !showRefreshButton" justify="space-between">Bouton d'actualisation</ion-toggle>
      </ion-item>
      <ion-item *ngIf="!showRefreshButton" >
        <ion-label>Tirer vers le bas pour recharger la page</ion-label>
      </ion-item>
      <!--      <ion-button (click)="setMonthSection()">test</ion-button>-->
    </ion-content>
  </ion-menu>


  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-button fill="clear" class="datepicker-button" (click)="showDatePickers = !showDatePickers" >
          {{monthView}}
          <ion-icon slot="end" name="caret-down-outline" [ngClass]="{'rotate': showDatePickers}" ></ion-icon>
        </ion-button>
        <ion-button fill="clear"  slot="end" id="open-modal">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" slot="end" (click)="goToTheStart()">
          <ion-icon name="arrow-up-outline"></ion-icon>
        </ion-button>
        <!--        <ion-button fill="clear" slot="end" (click)="goToTheEnd()">-->
        <!--          <ion-icon name="arrow-down-outline"></ion-icon>-->
        <!--        </ion-button>-->
      </ion-toolbar>
      <div class="datetime-picker" [ngClass]="{'show' : showDatePickers}">
        <ion-datetime
          min="{{currentDate}}"
          locale="fr-FR"
          [isDateEnabled]="isWeekday"
          [(ngModel)]="selectedDateTime"
          (ionChange)="showDay()"
        ></ion-datetime>
      </div>
    </ion-header>
    <ion-content class="ion-padding" [scrollEvents]="true" (ionScroll)="onScroll()" >

      <ion-refresher slot="fixed" (ionRefresh)="reloadPage()">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <ion-modal trigger="open-modal">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-button fill="clear" slot="start" (click)="dismissModal()">
                <ion-icon name="arrow-back-outline"></ion-icon>
              </ion-button>
              <ion-searchbar placeholder="Rechercher"
                             (keyup.enter)="searchbarEnter($event)"
                             (ionInput)="searchbarInput($event)"
              ></ion-searchbar>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-item *ngIf="searchInput.length > 0 && searchInput.length < 3" >
              <ion-label color="danger">Saisir au moins 3 caractères !</ion-label>
            </ion-item>
            <ion-list class="history-list"  *ngIf="searchHistory.length != 0">
              <ion-title>
                <div class="history-title">
                  <span>Historique</span>
                  <span class="history-fav-counter"><ion-icon name="star"></ion-icon> {{searchFav.length}} / 10</span>
                </div>
              </ion-title>
              <ion-item class="history-item" *ngFor="let item of searchHistory">
                <ion-label (click)="searchbarHistory(item)">{{item}}</ion-label>
                <ion-button *ngIf="!searchbarIsFav(item)" fill="clear" size="large" (click)="addSearchToFav(item)">
                  <ion-icon name="star-outline"></ion-icon>
                </ion-button>
                <ion-button *ngIf="searchbarIsFav(item)" fill="clear" size="large" (click)="deleteSearchToFav(item)">
                  <ion-icon name="star"></ion-icon>
                </ion-button>
                <ion-button fill="clear" slot="end" size="large" (click)="deleteHistoryItem(item)">
                  <ion-icon name="close-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>

      <app-events-day
        [search]="search"
        (afterView)="setMonthSection()"
      ></app-events-day>

      <div class="fixed-button reload-page" [ngClass]="{'show': showRefreshButton}">
        <ion-button (click)="reloadPage()" >
          <ion-icon name="reload-outline"></ion-icon>
        </ion-button>
      </div>

      <div class="fixed-button rest-search" [ngClass]="{'show': search != ''}">
        <ion-button (click)="searchbarHistory('')" >
          <ion-icon name="return-down-back-outline"></ion-icon>
        </ion-button>
      </div>

    </ion-content>
  </div>
</ion-app>
