.datetime-picker{
  overflow: hidden;
  width: 100vw;
  height: 0px;
  transition: height 0.2s ease-in-out;
  ion-datetime{
    position: relative;
    width: 100%;
    max-width: none;
    //top: -45px;
  }
  &.show{
    height: 300px;
  }
}

.ion-page{
  ion-icon[name="caret-down-outline"]{
    transition: transform 0.2s ease-in-out;
    &.rotate{
      transform: rotate(-180deg);
    }
  }
}
